html, body, * {margin: 0; padding: 0; box-sizing: border-box; }
body {
  min-width: 128px;
}

.list-item {
  line-height: 2em;
  font-size: 1em;
  padding: .5em;

  vertical-align: center;
}

nav#sites ul li a            { display: block; width: calc(100% - 3em); float: left;}
nav#sites ul li              { border-bottom: 1px solid grey; overflow: hidden; }
nav#sites ul li:last-of-type { border-bottom: none; }
nav#sites ul li input.remove-site { width: 3em; height: 3em; float: right;  line-height: 1.5em;  }

form.add-site { display: block; overflow: hidden; }
form.add-site input.url, form.add-site input.add-site {
  line-height: 2em;
  font-size: 1em;
  padding: .5em;

  vertical-align: center;
}
form.add-site input.url {box-sizing: border-box; width: calc(100% - 3em); height: 3em; display: block; float: left;}
form.add-site input.add-site {box-sizing: border-box; display: block; float: right; width: 3em; height: 3em; line-height: 1.5em; }
